@font-face {
  font-family: 'Monoton';
  src: url('fonts/Monoton/Monoton-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono/static/RobotoMono-Regular.ttf')  format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

/* unvisited link */
a:link {
  color: inherit;
}
/* visited link */
a:visited {
  color: inherit;
}
/* mouse over link */
a:hover {
  color: inherit;
}
/* selected link */
a:active {
  color: inherit;
}

.background--dark {
  background-color: #5b7723;
  color: #fff;
}
.background--dark button {
  background-color: #5b7723;
  color: #fff;
  border: 1px solid #fff;
}
.background--dark button:hover {
  background-color: #d5e8ae;
  color: #5b7723;
  border: 1px solid #5b7723;
}

.background--light {
  background-color: #d5e8ae;
  color: #5b7723;
}
.background--light button {
  background-color: #d5e8ae;
  color: #5b7723;
  border: 1px solid #5b7723;
}
.background--light button:hover {
  background-color: #5b7723;
  color: #fff;
  border: 1px solid #fff;
}

.text-success {
  color: green;
}

.text-error, .text-danger {
  color: red;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.loader {
  display: inline-block;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}


.logo {
  font-family: 'Monoton';
  font-size: 3rem;
  z-index: 1;
}
.logo a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #5b7723;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #95a27b;
  background-blend-mode: screen;
  
  z-index: -1;
}

.hero .logo {
  position: absolute;
  top: 0;
  text-align: left;
  padding: 0 10px;
}

.hero .attribution {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  text-align: right;
  font-size: 0.5rem;
}

.hero .content {
  position: relative;
  height: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.hero .avatar {
  width: 200px;
  height: 200px;
  border: 1px solid #5b7723;
  border-radius: 50%;
  overflow: hidden;
}
.hero .avatar img {
  width: inherit;
}

.hero h1, h2, h3 {
  margin: 0;
}
.hero h3 {
  margin: 20px 0;
  font-size: 1rem;
  font-style: italic;
}

.hero a.button {
  text-decoration: none;
  padding: 10px;
  border-radius: 100vh;
  color: #5b7723;
  border: 1px solid #5b7723;
}
.hero a.button:hover {
  background-color: #5b7723;
  color: #fff;
}
.hero a.button:focus {
  outline: none;
}


section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#contact .contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-bottom: 20px;
}

section#contact h1 {
  text-align: center;
  margin-bottom: 0;
}

section#contact p {
  text-align: center;
  margin: 0;
}

section#contact #contact__form {
  width: 100%;
}

section#contact #contact__form input,
section#contact #contact__form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #5b7723;
  border-radius: 4px;
}
section#contact #contact__form input:focus-visible,
section#contact #contact__form textarea:focus-visible {
  outline: #5b7723 auto 1px;
}
section#contact #contact__form textarea {
  resize: vertical;
}

section#contact #contact__form button {
  width: 200px;
  padding: 8px 15px;
  font-size: 1.125rem;
  border-radius: 100vh;
  cursor: pointer;
}
section#contact #contact__form button div {
  display: flex;
  align-items: center;
  justify-content: center;
  
  pointer-events: none;
}
section#contact #contact__form button span {
  margin-left: 5px;
}

section#contact .message {
  margin-top: 10px;
}

footer .attribution {
  font-size: 0.5rem;
  font-style: italic;
  text-align: right;
}