@font-face {
  font-family: 'Monoton';
  src: url('fonts/Monoton/Monoton-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono/static/RobotoMono-Regular.ttf')  format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.text-success {
  color: green;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #5b7723;
}

.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #95a27b;
  background-blend-mode: screen;
  
  z-index: -1;
}

.hero .content {
  padding-top: 10%;
}

.hero .avatar {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #5b7723;
  border-radius: 50%;
  overflow: hidden;
}
.hero .avatar img {
  max-width: inherit;
}

.hero .attribution {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  text-align: right;
  font-size: 0.5rem;
}