@font-face {
  font-family: 'Monoton';
  src: url('fonts/Monoton/Monoton-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono/static/RobotoMono-Regular.ttf')  format('truetype');
}

:root {
  --green: #7eab26;
}

* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition: all .2s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:1.4rem;
}

html::-webkit-scrollbar-track{
  background:#222;
}

html::-webkit-scrollbar-thumb{
  background:var(--yellow);
}

body{
  background:#111;
  overflow-x: hidden;
  padding-left: 25rem;
}

main,
section
{
  min-height: 100vh;
}

header{
  position: fixed;
  top:0; left:0;
  z-index: 1000;
  height:100%;
  width:25rem;
  background:#1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .avatar img {
  height:10rem;
  width:10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border:.4rem solid var(--green);
}

header .avatar .name{
  font-size: 2rem;
  color:#eee;
}

header .avatar .post{
  font-size: 1.75rem;
  color:var(--green);
}

header .navbar{
  width:100%;
}

header .navbar ul{
  list-style: none;
  padding:1rem 3rem;
  user-select: none;
}


header .navbar ul li a{
  display: block;
  padding:1rem;
  margin:1.5rem 0;
  background:#333;
  color:#fff;
  font-size: 1.75rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover{
  background:var(--green);
  color:#333;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 0;
}

#home .greetings,
#home .introduction,
#home .name,
#home .title,
#home .quote
{
  font-size: 2.15rem;
  color: #fff;
}

#home .name {
  color: var(--green);
}

#home .title {
  font-size: 1.35rem;
  color: #dfdfdf;
}

#home .quote {
  padding: 1rem 0;
  font-size: 1.15rem;
  color: #dfdfdf;
}

#home .btn {
  padding: .7rem 3rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.35rem;
  border-radius: 100vh;
  border: none;
}

#home .btn:hover{
  background:var(--green);
  color:#333;
}