html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #926239;
  line-height: 1.6;
  background: #926239;
}

nav, header, section {
  padding: 0 25px;
}

.link {
  display: flex;
  align-items: center;
}
.link .link__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.link .link__icon-text {
  margin-left: 5px;
}

.text-success {
  color: green;
}

.text-error, .text-danger {
  color: red;
}

.show {
  height: auto;
  width: auto;
  visibility: visible;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  visibility: hidden;
}

.loader {
  display: inline-block;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}


nav {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 12px;
  list-style-type: none;
}
nav > ul > li > a {
  display: block;
  text-decoration: none;
}
/* unvisited link */
nav > ul > li > a:link {
  color: inherit;
}
/* visited link */
nav > ul > li > a:visited {
  color: inherit;
}
/* mouse over link */
nav > ul > li > a:hover {
  color: inherit;
}
/* selected link */
nav > ul > li > a:active {
  color: inherit;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('images/header.jpg');
  background-color: #dfc6b0;
  background-blend-mode: screen;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
  text-align: center;
}

header p {
  font-size: 1.25rem;
  margin: 0;
}

header a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #926239;
  border: 1px solid #926239;
  border-radius: 100vh;
  padding: 10px 20px;
  margin-top: 20px;
}
header a:hover {
  background-color: #926239;
  color: #fff;
}


section#download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #926239;
  color: #fff;
}

section#download .download__container {
  max-width: 400px;
}

section#download h1 {
  text-align: center;
}

section#download li {
  list-style-type: none;
  margin-bottom: 8px;
}

section#download a {
  text-decoration: none;
}
/* unvisited link */
section#download a:link {
  color: #fff;
}
/* visited link */
section#download a:visited {
  color: #fff;
}
/* mouse over link */
section#download a:hover {
  color: #fff;
}
/* selected link */
section#download a:active {
  color: #fff;
}


section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfc6b0;
  color: #926239;
}

section#contact .contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-bottom: 20px;
}

section#contact h1 {
  text-align: center;
  margin-bottom: 0;
}

section#contact p {
  text-align: center;
  margin: 0;
}

section#contact #contact__form {
  width: 100%;
}

section#contact #contact__form input,
section#contact #contact__form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 1rem;
  color: #926239;
  border: 1px solid #926239;
  border-radius: 4px;
}
section#contact #contact__form input:focus-visible,
section#contact #contact__form textarea:focus-visible {
  outline: #926239 auto 1px;
}
section#contact #contact__form textarea {
  resize: vertical;
}

section#contact #contact__form button {
  width: 200px;
  padding: 8px 15px;
  background-color: #926239;
  color: #fff;
  font-size: 1.125rem;
  border: 1px solid #fff;
  border-radius: 100vh;
  cursor: pointer;
}
section#contact #contact__form button div {
  display: flex;
  align-items: center;
  justify-content: center;
  
  pointer-events: none;
}
section#contact #contact__form button span {
  margin-left: 5px;
}

section#contact .message {
  margin-top: 10px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #926239;
  color: #fff;
}
footer .icon {
  width: 15px;
  height: 15px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
}
footer .icon-text {
  margin-left: 5px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}